/*Definir variables
Definir el nombre y establecer el valor a utilizar
*/


:root{
    --fondoUV:#0B2161;
    --fondooUV:#0B173B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondooUV);
    font-family: 'Open Sans', sans-serif;

}

.contenedor{
    width: 90%;
    margin: auto;
    
}

header{
    padding: 20px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
    font-family: 'Signika Negative', sans-serif;
    font-weight: normal;
    color: aliceblue;
    font-size: 40px;
}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, header nav a.activo{
    color: #fff;
}


/*---------Contenedor Título y Controller---------*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 23px;
}


.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;

}



.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: #000;
}





/*----------------------Contenedor Principal y flechas-------------------------*/

.peliculas-recomendadas{
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}


.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0,0,0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
background:rgba(0,0,0, 0.9) ;

}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}





/*--------------Carrusel------------------*/


.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;

}


.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 25%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, rgba(0,0,0, 0.3));
    margin-right: 7px;

}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
    transform: scale(1.2);
    vertical-align: top;

}


.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}



/*-----------------FONDO----------------------*/
.pelicula-principal{
    font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../Imagenes/LaLaLand_Fondo3.jpg);
    /*	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../Imagenes/LaLaLand_Fondo4.jpg);*/
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;

}

.pelicula-principal .contenedor{
    margin: 0 auto;
    margin-bottom: 5.25em;
}

.pelicula-principal .titulo{
    font-weight: 688;
    font-size: 3.12em;
    margin-bottom: 0.4em;

}

.pelicula-principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.75em;
}

.pelicula-principal .boton{
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
    color: #fff;
	margin-right: 2.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}




/*-----------------------------Imagenes Películas Populares--------------------*/

.contenedor-titulo-controles2{
    margin-bottom: 20px;
}

.contenedor-titulo-controles2 h3{
    color: #fff;
    font-size: 23px;    
}

.peliculasPopulares{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;   
    margin-bottom: 70px;

}

.peliculasPopulares .etiquetas{
    margin-right: 7px;    
}

.etiquetas{
    width: 100%;
    margin: 3px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}

.etiquetas .contenido{
    padding: 15px;
    text-align: center;
}

.etiquetas .contenido p{
    color: #6a6a6a;
}
.etiquetas .contenido p1{
    color: #0B173B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/*-----------------------------Imagenes Series Populares--------------------*/

.contenedor-titulo-controles3{
    margin-bottom: 20px;
}

.contenedor-titulo-controles3 h3{
    color: #fff;
    font-size: 23px;
}

.seriesPopulares{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;   
    margin-bottom: 70px;
}

.seriesPopulares .etiquetas{
    margin-right: 7px;    
}

/*---------------------Footer-----------------------*/
.footer{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.footer h1{
    color: #fff;
    text-align: center;
    font-size: 18px;
}